.page-title {
    text-align: center;
    color: white;
}

.top-navigation-wrapper {
    background: #a829c3;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    height: 60px;
}

.logo-container {
    padding-left: 20px;
    color: white;
}






